# =======================================================================
# Unity 2017.4 Git Ignore Template
# =======================================================================

/[L]ibrary/
/[T]emp/
/[O]bj/
/[B]uild/
/[B]uilds/
/[L]ogs/
/[U]nityConfiguration.gen.inc
/[P]rojectSettings/ProjectVersion.txt

# Arquivos de Solução do Visual Studio / MonoDevelop
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# Relatórios de Crash automáticos da Unity
*CrashToSource

# Arquivos temporários do OS
.DS_Store
Thumbs.db